*::-webkit-scrollbar {
    width: 10px;
    position: relative;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 2px solid white;
}

*::-webkit-scrollbar-thumb:horizontal {
    border: 4px solid white;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/* Apply scrollbar styles to all elements */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: relative;
    opacity: 0; /* Initially set scrollbar to be transparent */
    transition: opacity 0.3s ease; /* Apply a smooth transition effect */
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

    /* Webkit (Chrome, Safari, etc.) scrollbar styles for both vertical and horizontal */
    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 20px;
        border: 2px solid transparent;
    }

        /* Webkit horizontal scrollbar styles */
        *::-webkit-scrollbar-thumb:horizontal {
            border-color: #c1c1c1 transparent;
        }

/* Style the div where you want to hide the scrollbar */
.hide-scrollbar {
    overflow: auto;
    max-height: 300px; /* Set a maximum height to enable scrolling */
}

.hide-scrollbar:hover {
    *::-webkit-scrollbar
    {
        opacity: 1; /* Set scrollbar to be visible */
    }
}
