@{
    ViewData["Title"] = "Point Of Sale";
    Layout = "_Dashboard";
}

<div class="row">

	@* Invoice *@
	<div class="col-xl-4">
		@await Html.PartialAsync("~/Views/Dashboard/Pos/Partials/_InvoicePartial.cshtml")
	</div>

	@* Products *@
	<div class="col-xl-8">
		@await Html.PartialAsync("~/Views/Dashboard/Pos/Partials/_ProductsPartial.cshtml")
	</div>

</div>