@model Poser.Models.CompositeModel

@* Categories *@
<div class="card bg-white shadow-md">
    <div class="card-body d-flex flex-row gap-1 justify-content-start overflow-y-auto">
        @foreach (var item in Model.Categories)
        {
            @* <h3 class="btn btn-info">@Html.DisplayFor(modelItem => item.Name)</h3> *@
            <img src="https://source.unsplash.com/100x100/?food=@item.ParentId" class="rounded-circle" />
        }
    </div>

</div>


@* Products *@
<div class="card bg-white shadow-md p-3 mt-3">
    <div class="card-body d-flex justify-content-start flex-row flex-wrap gap-1 overflow-auto" style="max-height: 745px !important;">
        @foreach (var item in Model.Products)
        {
            <div onclick="" style="width: 16.2%; cursor:pointer;">
                <div class="card">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top" alt="Image"> <!-- Use card-img-top class for the image -->
                    <div class="card-body text-center">
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
