@using Newtonsoft.Json

@model Poser.Core.Models.CompositeModel

@* Categories *@
<div class="card bg-white shadow-md">
    <div class="card-body d-flex flex-row gap-1 justify-content-start overflow-y-auto">
        @foreach (var item in Model.Categories)
        {
            <img onclick="GetProductsData(@Html.DisplayFor(modelItem => item.Id))"
                 src="https://source.unsplash.com/100x100/?food=@Html.DisplayFor(modelItem => item.Id)"
                 style="cursor:pointer;"
                 class="rounded-circle thumbnail" />
        }
    </div>
</div>


@* Products *@
<div class="card bg-white shadow-md p-3 mt-3">
    <div class="card-body d-flex justify-content-start flex-row flex-wrap gap-1 overflow-auto" id="products-section" style="height: 745px !important;">
        @* products-section Ajax Fetching *@
    </div>
</div>
